/* .task-container {
    justify-content: space-between;
    margin-bottom: 5px;
    background: white;
    border-radius: 10px;
} */
/* .task-container:hover {
    opacity: .8;;
} */
/* input[type="checkbox"] {
    height: 35px;
} */
/* .mark-done {
    display: grid;
} */
/* small {
    font-size: xx-small;
} */
/* .delete {
    color: red;
} */
/* .delete:hover {
    scale: 1.05;
} */