.container {
    width: 90%;
    margin-inline: auto;
    background-color: azure;
    padding-top: 5px;
    padding-bottom: 5px;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.field-wrap {
    display: flex;
}
.field-wrap {
    display: flex;
    /* flex-direction: column; */
    gap: 5px;
    flex: 1;
    align-items: center;
}
fieldset {
    border: none;
}
legend {
    font-weight: 500;
    font-size: 0.7em;
}
input {
    flex: 1;
    padding: 10px;
    font-family: inherit;
    color: inherit;
    border-radius: 8px;
    border:  solid 1px;
}
.date-submit {
    display: flex;
    gap: 5px;
}
button[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    background-color: white;
    border: solid 1px;
    flex: 1;
}
span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}
.task-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.each-task {
    display: flex;
    gap: 5px;
    border: solid 1px;
    border-radius: 8px;
    padding: 5px;
    background-color: white;
}
article {
    flex: 1;
}
.del-btn:hover {
    color: red;
}

@media (width > 425px) {
    .container {
        width: 75%;
    }
}
@media (width > 768px) {
    .container {
        width: 50%;
    }
    legend {
        font-size: 0.9em;
    }
}
@media (width > 900px) {
    form {
        flex-direction: row;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
}